# Discord Bot
TOKEN=

# Discord OAuth (for upload site)
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:5000/auth/callback

# Web app
SECRET_KEY=
WEB_PORT=5000
LOG_TOKEN=

# Paths
SOUNDS_BASE=/var/chips
ADMIN_ID=
